.recommend {
    margin:10px 2%;

    &:hover {
      box-shadow: 2px 4px 8px 0 var(--clr-black);
    }

    .section__title {
      font-size: size(large);
      font-style: italic;
    }

    .palette {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      width: 100%;
      opacity: 0.5;

      &__icon {
        @include flexCenter(column);

        &__svg {
          width: 50%;

          img {
            width: 100%;
            object-fit: contain;
          }
        }

        p {
          color: hsl(0, 0%, 40%);
          font-size: size(big);
      }
    }
  }
}
