<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head') -%>
  </head>
<body>
  <%- include('header') -%>
  <div class="products">
    <h1 class="products__title">Category</h1>
    <div class="products__container">
      <ul class="products__container__list">
        <li class="products__container__list__item">
          <a href="/motherboards">
            <picture>
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/webp/b450-aorus-elite1.webp" type="image/webp">
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/b450-aorus-elite1.jpg" type="image/jpeg">
              <img src="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/b450-aorus-elite1.jpg" alt="B450 Aorus Elite">
            </picture>
            <div class="container__title">
              <h2 class="container__title__item">Motherboards</h2>
              <span class="count">(3)</span>
            </div>
          </a>
        </li>
        <li class="products__container__list__item">
          <a href="/processors">
            <picture>
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/webp/r9-5950x_hnfit1E2e.webp" type="image/webp">
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/r9-5950x_ivH1sSGO9.jpg" type="image/jpeg">
              <img src="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/r9-5950x_ivH1sSGO9.jpg" alt="Ryzen 9 5950X">
            </picture>
            <div class="container__title">
              <h2 class="container__title__item">Processors</h2>
              <span class="count">(4)</span>
            </div>
          </a>
        </li>
        <li class="products__container__list__item">
          <a href="/smartphones">
            <picture>
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/webp/asus-zenfone6_owki9dyg5.webp" type="image/webp">
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/asus-zenfone6_toi2cdmvj.jpg" type="image/jpeg">
              <img src="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/asus-zenfone6_toi2cdmvj.jpg" alt="Asus Zenfone">
            </picture>
            <div class="container__title">
              <h2 class="container__title__item">Smartphones</h2>
              <span class="count">(6)</span>
            </div>
          </a>
        </li>
        <li class="products__container__list__item">
          <a href="/smartwatch">
            <picture>
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/webp/apple-watch-series3_n_wVOQpL4.webp" type="image/webp">
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/realme-watch-s_nvb2QYQcB.jpg" type="image/jpeg">
              <img src="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/realme-watch-s_nvb2QYQcB.jpg" alt="Realme watch S">
            </picture>
            <div class="container__title">
              <h2 class="container__title__item">Smartwatch and smartband</h2>
              <span class="count">(2)</span>
            </div>
          </a>
        </li>
        <li class="products__container__list__item">
          <a href="#">
            <picture>
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/webp/aoc-monitor-aoc-34_UqIgbqHSC.webp" type="image/webp">
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/aoc-monitor-aoc-34_ut_kNq9m_.jpg" type="image/jpeg">
              <img src="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/aoc-monitor-aoc-34_ut_kNq9m_.jpg" alt="Aoc Monitor 34">
            </picture>
            <div class="container__title">
              <h2 class="container__title__item">Monitors</h2>
              <span class="count">(0)</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <%- include('footer') -%>
  </body>
</html>
