<div class="scrolltop">
  <button class="scrolltop__btn">
  <i class="scroll__icon">
    <ion-icon name="arrow-up-outline"></ion-icon>
  </i>
  </button>
</div>
<footer class="footer">
  <div class="grainy-gradient">
    <div class="isolate">
      <div class="noise"></div>
      <div class="gradient-overlay">
        <div class="footer__content">
          <div class="footer__row">
            <div class="footer__row__contact">
              <h2 class="footer__row__contact__h2">Contact</h2>
              <div class="footer__row__contact__container">
                <div class="phone">
                  <a href="tel:363880000" class="phone__link">
                    <i class="phone__icon">
                      <ion-icon name="call-outline"></ion-icon>
                    </i>
                    <div class="content">33 388 00 00</div>
                  </a>
                </div>
                <div class="mail">
                  <a href="mailto:bh@bh.com" class="mail__link">
                    <i class="mail__icon">
                      <ion-icon name="mail-outline"></ion-icon>
                    </i>
                    <div class="content">bh@bh.com</div>
                  </a>
                </div>
                <div class="location">
                  <a href="#" class="location__link">
                    <i class="location__icon">
                      <ion-icon name="location-outline"></ion-icon>
                    </i>
                    <div class="content">Store location</div>
                  </a>
                </div>
              </div>
            </div>
            <div class="footer__row__social">
              <h2 class="footer__row__social__media">Social Media</h2>
              <div class="footer__row__social__container">
                <div class="facebook">
                  <a href="#" class="facebook__link">
                    <i class="facebook__icon">
                      <ion-icon name="logo-facebook"></ion-icon>
                    </i>
                  </a>
                </div>
                <div class="instagram">
                  <a href="#" class="instagram__link">
                    <i class="instagram__icon">
                      <ion-icon name="logo-instagram"></ion-icon>
                    </i>
                  </a>
                </div>
                <div class="twitter">
                  <a href="#" class="twitter__link">
                    <i class="twitter__icon">
                      <ion-icon name="logo-twitter"></ion-icon>
                    </i>
                  </a>
                </div>
                <div class="youtube">
                  <a href="#" class="youtube__link">
                    <i class="youtube__icon">
                      <ion-icon name="logo-youtube"></ion-icon>
                    </i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="copyright">© 2021 Block Hardware</div>
        </div>
      </div>
    </div>
</div>
</footer>
<script src="javascript/pwa.js"></script>
<script src="javascript/status.js"></script>
<script src="javascript/scrolltop.js"></script>
<script src="javascript/app.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
