<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head') -%>
  </head>
<body>
  <%- include('header') -%>
    <div class="item">
      <h1 class="item__title">Gigabyte B450 AUROS ELITE</h1>
      <div class="item__section">
        <div class="item__summary">
          <div class="item__summary__images">
            <div class="big">
              <picture>
                <img src="https://ik.imagekit.io/5avkb7ypb9z/tr:w-500/jpg/b450-aorus-elite1.jpg" alt="B450 Aorus Elite" id="big">
              </picture>
            </div>
            <div class="column">
              <div class="column__item">
                <picture>
                  <img src="https://ik.imagekit.io/5avkb7ypb9z/tr:w-150/jpg/b450-aorus-elite1.jpg" data-item="https://ik.imagekit.io/5avkb7ypb9z/tr:w-500/jpg/b450-aorus-elite1.jpg" alt="B450 Aorus Elite" class="image-gallery">
                </picture>
              </div>
              <div class="column__item">
                <picture>
                  <img src="https://ik.imagekit.io/5avkb7ypb9z/tr:w-150/jpg/b450-aorus-elite2.jpg" data-item="https://ik.imagekit.io/5avkb7ypb9z/tr:w-500/jpg/b450-aorus-elite2.jpg" alt="B450 Aorus Elite" class="image-gallery">
                </picture>
              </div>
              <div class="column__item">
                <picture>
                  <img src="https://ik.imagekit.io/5avkb7ypb9z/tr:w-150/jpg/b450-aorus-elite3.jpg" data-item="https://ik.imagekit.io/5avkb7ypb9z/tr:w-500/jpg/b450-aorus-elite3.jpg" alt="B450 Aorus Elite" class="image-gallery">
                </picture>
              </div>
            </div>
          </div>
          <div class="item__summary__status">
            <div class="item__summary__status__column">
              <span class="item__summary__status__price" data-item="Price">99.99$</span>
              <span class="item__summary__status__condition" data-item="Status">Available</span>
              <button class="btn__custom__white item__summary__status__btn">Add to cart</button>
            </div>
          </div>
        </div>
        <div class="item__specs">
          <div class="item__specs__description">
            <h2>Specification:</h2>
            <div class="item__specs__odd">
              <div class="title">Processor families supported</div>
              <div class="item__specs__column">
                <div class="value">AMD Ryzen™</div>
              </div>
            </div>
            <div class="item__specs__even">
              <div class="title">CPU socket</div>
              <div class="item__specs__column">
                <div class="value">Socket AM4</div>
              </div>
            </div>
            <div class="item__specs__odd">
              <div class="title">CPU architecture</div>
              <div class="item__specs__column">
                <div class="value">Zen (1st generation)</div>
                <div class="value">Zen + (2nd generation)</div>
                <div class="value">Zen 2 (3rd generation)</div>
                <div class="value">Zen 3 (4th generation)</div>
              </div>
            </div>
            <div class="item__specs__even">
              <div class="title">The type of memory supported</div>
              <div class="item__specs__column">
                <div class="value">DDR4-2933MHz</div>
                <div class="value">DDR4-2666MHz</div>
                <div class="value">DDR4-2400MHz</div>
                <div class="value">DDR4-2133MHz</div>
              </div>
            </div>
            <div class="item__specs__odd">
              <div class="title">Type of OC memory supported</div>
              <div class="item__specs__column">
                <div class="value">DDR4-3600MHz</div>
                <div class="value">DDR4-3466MHz</div>
                <div class="value">DDR4-3200MHz</div>
              </div>
            </div>
            <div class="item__specs__even">
              <div class="title">Number of memory banks</div>
              <div class="item__specs__column">
                <div class="value">4x DIMM</div>
              </div>
            </div>
            <div class="item__specs__odd">
              <div class="title">Maximum RAM size</div>
              <div class="item__specs__column">
                <div class="value">128 GB</div>
              </div>
            </div>
            <div class="item__specs__even">
              <div class="title">Architecture of memory</div>
              <div class="item__specs__column">
                <div class="value">Dual-channel</div>
              </div>
            </div>
            <div class="item__specs__odd">
              <div class="title">Internal connectors</div>
              <div class="item__specs__column">
                <div class="value">SATA III (6 Gb / s) - 6 pcs</div>
                <div class="value">M.2 PCIe NVMe 3.0 x4 / SATA - 1 pc</div>
                <div class="value">M.2 PCIe NVMe 3.0 x2 - 1 pc</div>
                <div class="value">PCIe 3.0 x16 - 1 pc</div>
                <div class="value">PCIe 3.0 x1 - 2 pcs</div>
                <div class="value">PCIe 3.0 x16 (x4 mode) - 1 pc</div>
                <div class="value">USB 3.2 Gen. 1 - 1 pc</div>
                <div class="value">USB 2.0 - 2 pcs</div>
                <div class="value">ARGB 3 pin connector - 2 pcs</div>
                <div class="value">RGB 4 pin connector - 2 pcs</div>
                <div class="value">COM connector - 1 pc</div>
                <div class="value">Front Panel Audio</div>
                <div class="value">S / PDIF output connector - 1 pc</div>
                <div class="value">CPU fan connector 4 pin - 1 pc</div>
                <div class="value">SYS / CHA fan connector - 3 pcs</div>
                <div class="value">8-pin power connector - 1 pc</div>
                <div class="value">24-pin power connector - 1 pc</div>
                <div class="value">TPM module connector - 1 pc</div>
              </div>
            </div>
            <div class="item__specs__even">
              <div class="title">External connectors</div>
              <div class="item__specs__column">
                <div class="value">DVI-D - 1 pc</div>
                <div class="value">HDMI - 1 pc</div>
                <div class="value">RJ45 (LAN) 1 Gbps - 1 pc</div>
                <div class="value">USB 3.2 Gen. 1 - 4 pcs</div>
                <div class="value">USB 2.0 - 4 pcs</div>
                <div class="value">PS/2 keyboard/mouse - 1 pc</div>
                <div class="value">Audio jack - 6 pcs</div>
              </div>
            </div>
            <div class="item__specs__odd">
                <div class="title">RAID support</div>
                <div class="item__specs__column">
                  <div class="value">RAID 0</div>
                  <div class="value">RAID 1</div>
                  <div class="value">RAID 10</div>
              </div>
            </div>
            <div class="item__specs__even">
              <div class="title">Multiple graphics card support</div>
              <div class="item__specs__column">
                <div class="value">AMD CrossFireX</div>
              </div>
            </div>
            <div class="item__specs__odd">
              <div class="title">Support for graphics chips in processors</div>
              <div class="item__specs__column">
                <div class="value">Yes</div>
              </div>
            </div>
            <div class="item__specs__even">
              <div class="title">Audio chip</div>
              <div class="item__specs__column">
                <div class="value">Realtek ALC892</div>
              </div>
            </div>
            <div class="item__specs__odd">
              <div class="title">Wireless connectivity</div>
              <div class="item__specs__column">
                <div class="value">Not</div>
              </div>
            </div>
            <div class="item__specs__even">
              <div class="title">Additional information</div>
              <div class="item__specs__column">
                <div class="value">LED backlight</div>
              </div>
            </div>
            <div class="item__specs__odd">
              <div class="title">Format</div>
              <div class="item__specs__column">
                <div class="value">ATX</div>
              </div>
            </div>
            <div class="item__specs__even">
              <div class="title">Width</div>
              <div class="item__specs__column">
                <div class="value">235mm</div>
              </div>
            </div>
            <div class="item__specs__odd">
              <div class="title">Height</div>
              <div class="item__specs__column">
                <div class="value">305mm</div>
              </div>
            </div>
            <div class="item__specs__even">
              <div class="title">Accessories included</div>
              <div class="item__specs__column">
                <div class="value">User manual</div>
                <div class="value">CD with drivers</div>
                <div class="value">SATA cable - 2 pcs</div>
                <div class="value">Mounting elements M.2 - 2 pcs</div>
              </div>
            </div>
            <div class="item__specs__odd">
              <div class="title">Color</div>
              <div class="item__specs__column">
                <div class="value">Black</div>
              </div>
            </div>
            <div class="item__specs__even">
              <div class="title">warranty</div>
              <div class="item__specs__column">
                <div class="value">36 months (manufacturer's warranty)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script src="/javascript/images.js"></script>
  <%- include('footer') -%>
  </body>
</html>
