<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="The best place to buy hardware on the web.">
<meta name="theme-color" content="hsl(179.2, 100%, 31%)" >
<link rel="stylesheet" href="css/index.css">
<link rel="icon" href="images/png/logo.png" type="image/x-icon">
<link rel="apple-touch-icon" href="images/png/logo.png">
<link rel="manifest" type="application/json" href="javascript/manifest.json">
<title>Block Hardware | <%= title %></title>
