  <header class="header">
    <div class="header__container">
      <div class="header__bar">
        <div class="header__column">
          <div class="menu">
            <button type="button" class="menu__toggle">
              <i class="menu__icon">
                <ion-icon name="grid-outline"></ion-icon>
              </i>
            </button>
          </div>
          <div class="logo">
            <a href="/" id="logo" title="Block Hardware">
              <img src="images/svg/logo.svg" width="90px" height="90px" alt="Block Hardware Logo">
            </a>
          </div>
        </div>
        <div class="header__column">
          <div class="menu--wrap">
            <nav class="navbar">
              <ul class="navbar__main">
                <li class="navbar__items">
                  <a href="/">Home</a>
                </li>
                <li class="navbar__items">
                  <a href="/categories">Category</a>
                </li>
                <li class="navbar__items">
                  <a href="/favorited">Favorited</a>
                </li>
                <li class="navbar__items">
                  <a href="/contact">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="favorited">
            <button class="fav__btn">
            <a href="/favorited" class="favorited__link">
              <i class="fav__icon">
                <ion-icon name="bookmark-outline"></ion-icon>
              </i>
            </a>
            </button>
          </div>
          <div class="cart">
            <a href="/cart" class="cart__link">
              <i class="cart__icon">
                <ion-icon name="cart-outline"></ion-icon>
              </i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="menu__container hide">
      <div class="menu__block">
        <div class="menu__close">
          <button type="button" class="btn__close">
            <i class="close">
              <ion-icon name="close-outline"></ion-icon>
            </i>
          </button>
        </div>
        <div class="menu__icons">
          <div class="favorited">
            <button class="fav__btn">
              <a href="/favorited" class="favorited__link">
                <i class="fav__icon">
                  <ion-icon name="bookmark-outline"></ion-icon>
                </i>
              </a>
            </button>
          </div>
          <div class="cart">
            <a href="/cart" class="cart__link">
              <i class="cart__icon">
                <ion-icon name="cart-outline"></ion-icon>
              </i>
            </a>
          </div>
        </div>
        <a href="/">
          <span class="menu__item">Home</span>
        </a>
        <a href="/categories">
          <span class="menu__item">Category</span>
        </a>
        <a href="/favorited">
          <span class="menu__item">Favorited</span>
        </a>
        <a href="/contact">
          <span class="menu__item">Contact</span>
        </a>
      </div>
    </div>
  </header>
