<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head') -%>
  </head>
<body>
  <%- include('header') -%>
  <div class="products">
    <h1 class="products__title">Category</h1>
    <div class="products__container">
      <ul class="products__container__list">
        <li class="products__container__list__item">
          <a href="#">
            <picture>
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/webp/asus-rog-strix-b550-f-gaming_TUBc2oJjhl.webp" type="image/webp">
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/asus-rog-strix-b550-f-gaming_o362Lf0I72.jpg" type="image/jpeg">
              <img src="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/asus-rog-strix-b550-f-gaming_o362Lf0I72.jpg" alt="Asus rog strix b550 f gaming">
            </picture>
            <div class="container__title">
              <h2 class="container__title__item">Asus rog strix b550 f gaming</h2>
              <span class="count">199.99$</span>
            </div>
          </a>
        </li>
        <li class="products__container__list__item">
          <a href="/gigabyte-b450-auros-elite">
            <picture>
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/webp/b450-aorus-elite1.webp" type="image/webp">
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/b450-aorus-elite1.jpg" type="image/jpeg">
              <img src="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/b450-aorus-elite1.jpg" alt="B450 Aorus Elite">
            </picture>
            <div class="container__title">
              <h2 class="container__title__item">Gigabyte B450 Aorus Elite</h2>
              <span class="count">99.99$</span>
            </div>
          </a>
        </li>
        <li class="products__container__list__item">
          <a href="#">
            <picture>
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/webp/x570-msi-mag-tomahawk-wifi_0W-xloO6R.webp" type="image/webp">
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/jpg/x570-msi-mag-tomahawk-wifi_5j5jwzHeI.jpg" type="image/jpeg">
              <img src="https://ik.imagekit.io/5avkb7ypb9z/jpg/x570-msi-mag-tomahawk-wifi_5j5jwzHeI.jpg" alt="Msi mag tomahawk wifi x570">
            </picture>
            <div class="container__title">
              <h2 class="container__title__item">Msi mag tomahawk wifi x570</h2>
              <span class="count">279.99$</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <%- include('footer') -%>
  </body>
</html>
