<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head') -%>
  </head>
<body>
  <%- include('header') -%>
  <div class="products">
    <h1 class="products__title">Category</h1>
    <div class="products__container">
      <ul class="products__container__list">
        <li class="products__container__list__item">
          <a href="/motherboards">
            <picture>
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/webp/i9-12900k_vrjmE-yqx.webp" type="image/webp">
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/i9-12900k_pGJCdww5f.jpg" type="image/jpeg">
              <img src="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/i9-12900k_pGJCdww5f.jpg" alt="i9 12900k">
            </picture>
            <div class="container__title">
              <h2 class="container__title__item">i9 12900k</h2>
              <span class="count">599.99$</span>
            </div>
          </a>
        </li>
        <li class="products__container__list__item">
          <a href="/processors">
            <picture>
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/webp/i5-12600k_SYNSqXXol.webp" type="image/webp">
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/i5-12600k_yuBxYlds5.jpg" type="image/jpeg">
              <img src="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/i5-12600k_yuBxYlds5.jpg" alt="i5 12600k">
            </picture>
            <div class="container__title">
              <h2 class="container__title__item">i5 12600k</h2>
              <span class="count">299.99$</span>
            </div>
          </a>
        </li>
        <li class="products__container__list__item">
          <a href="/processors">
            <picture>
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/webp/r7-5800x_05p0XURNo.webp" type="image/webp">
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/r7-5800x_2ityk4r45.jpg" type="image/jpeg">
              <img src="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/r7-5800x_2ityk4r45.jpg" alt="i5 12600k">
            </picture>
            <div class="container__title">
              <h2 class="container__title__item">Ryzen 7 5800X</h2>
              <span class="count">399.99$</span>
            </div>
          </a>
        </li>
        <li class="products__container__list__item">
          <a href="/processors">
            <picture>
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/webp/r9-5950x_hnfit1E2e.webp" type="image/webp">
              <source srcset="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/r9-5950x_ivH1sSGO9.jpg" type="image/jpeg">
              <img src="https://ik.imagekit.io/5avkb7ypb9z/tr:w-300/jpg/r9-5950x_ivH1sSGO9.jpg" alt="Ryzen 9 5950X">
            </picture>
            <div class="container__title">
              <h2 class="container__title__item">Ryzen 9 5950X</h2>
              <span class="count">699.99$</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <%- include('footer') -%>
  </body>
</html>
